.dashboard {
    display:flex;
    background-color: rgba(11, 102, 35, 1); /* Green Background */
   
}

.content-card {
    flex: 1;
    background-color: white;
    margin: 20px;
    margin-top: 1000px;
    margin-left: 200px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    padding: 20px;
}

@media (max-width: 768px) {
    .content-card {
        margin-left: 70px;
        
    }
}
@media (max-width: 480px) {
    .content-card {
        margin-left: 70px;
        padding: 10px; 
        
    }
}

.search-input {
    float: right;
    margin-right: 100px; 
}
/* Services.css */
.bookings-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.bookings {
    width: 100%;
    max-width: 50%;
    margin-top: 50px; 
    padding: 20px;
    background-color: rgba(11, 102, 35, 1);
    border-radius: 10px;
}

.bookings button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}