.dashboard {
    display: flex;
    background-color: rgba(11, 102, 35, 1); /* Green Background */
   
}

.content-card {
    flex: 1;
    background-color: white;
    margin: 20px;
    margin-top: 100px;
    margin-left: 200px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 1000px;
    padding: 20px;
}

@media (max-width: 768px) {
    .content-card {
        margin-left: 70px;
    }
}

@media (max-width: 480px) {
    .content-card {
        margin-left: 70px;
        padding: 10px; 
    }
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* cow card styles */
.cow-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.cow-card p {
    margin: 0;
}

.cow-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cow-card button:hover {
    background-color: #0056b3;
}

/* Form styles */
.form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}