.dashboard {
    display: flex;
    background-color: rgba(11, 102, 35, 1); /* Green Background */
   
}

.content-card {
    flex: 1;
    background-color: white;
    margin: 20px;
    margin-top: 100px;
    margin-left: 200px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 1000px;
    padding: 20px;
}

@media (max-width: 768px) {
    .content-card {
        margin-left: 70px;
    }
}

@media (max-width: 480px) {
    .content-card {
        margin-left: 70px;
        padding: 10px; 
    }
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h2, .product-item p, .product-item button {
    width: 100%; /* Adjust width to control element sizes */
}

/* Further styles for buttons and text, if necessary */
